#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/rgb.h>
#include <dt-bindings/zmk/backlight.h>
#include <dt-bindings/zmk/ext_power.h>


/ {
    macros {
        key_r2: key_r2 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_tap &key_repeat>
                , <&macro_tap &key_repeat>
                ;
        };
        key_r3: key_r3 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_tap &key_repeat>
                , <&macro_tap &key_repeat>
                , <&macro_tap &key_repeat>
                ;
        };
        key_r4: key_r4 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_tap &key_repeat>
                , <&macro_tap &key_repeat>
                , <&macro_tap &key_repeat>
                , <&macro_tap &key_repeat>
                ;
        };
        key_r5: key_r5 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_tap &key_repeat>
                , <&macro_tap &key_repeat>
                , <&macro_tap &key_repeat>
                , <&macro_tap &key_repeat>
                , <&macro_tap &key_repeat>
                ;
        };
        key_r6: key_r6 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_tap &key_repeat>
                , <&macro_tap &key_repeat>
                , <&macro_tap &key_repeat>
                , <&macro_tap &key_repeat>
                , <&macro_tap &key_repeat>
                , <&macro_tap &key_repeat>
                ;
        };
        key_r7: key_r7 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_tap &key_repeat>
                , <&macro_tap &key_repeat>
                , <&macro_tap &key_repeat>
                , <&macro_tap &key_repeat>
                , <&macro_tap &key_repeat>
                , <&macro_tap &key_repeat>
                , <&macro_tap &key_repeat>
                ;
        };
        key_r8: key_r8 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_tap &key_repeat>
                , <&macro_tap &key_repeat>
                , <&macro_tap &key_repeat>
                , <&macro_tap &key_repeat>
                , <&macro_tap &key_repeat>
                , <&macro_tap &key_repeat>
                , <&macro_tap &key_repeat>
                , <&macro_tap &key_repeat>
                ;
        };
        key_r9: key_r9 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_tap &key_repeat>
                , <&macro_tap &key_repeat>
                , <&macro_tap &key_repeat>
                , <&macro_tap &key_repeat>
                , <&macro_tap &key_repeat>
                , <&macro_tap &key_repeat>
                , <&macro_tap &key_repeat>
                , <&macro_tap &key_repeat>
                , <&macro_tap &key_repeat>
                ;
        };
        key_r0: key_r0 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_tap &key_repeat>
                , <&macro_tap &key_repeat>
                , <&macro_tap &key_repeat>
                , <&macro_tap &key_repeat>
                , <&macro_tap &key_repeat>
                , <&macro_tap &key_repeat>
                , <&macro_tap &key_repeat>
                , <&macro_tap &key_repeat>
                , <&macro_tap &key_repeat>
                , <&macro_tap &key_repeat>
                ;
        };
    };
};

/ {
    keymap {
        compatible = "zmk,keymap";
        default_layer {
                // ---------------------------------------------------------------------------------------------------------------------------------
                // | ESC   | F1    | F2    | F3    | F4    | F5    | F6    | F7    | F8    | F9    | F10   | F11   | F12   | PSCRN | SLCK  | PAUSE |
                // | `     | 1     | 2     | 3     | 4     | 5     | 6     | 7     | 8     | 9     | 0     | -     | =     | BKSP          | INS   |
                // | TAB       | Q     | W     | E     | R     | T     | Y     | U     | I     | O     | P     | [     | ]     | \         | PG_UP |
                // | CLCK        | A     | S     | D     | F     | G     | H     | J     | K     | L     | ;     | '     | RET             | PG_DN |
                // | LSHFT           | Z     | X     | C     | V     | B     | N     | M     | ,     | .     | /     | RSHFT       | RSHFT | UP    |
                // | LCTRL   | LGUI    | LALT    | SPACE                                           | RALT  | RGUI  | K_APP | RCTRL | LEFT  | DOWN  |
                // ---------------------------------------------------------------------------------------------------------------------------------
            bindings = <
                &kp ESC   &kp F1    &kp F2    &kp F3    &kp F4    &kp F5    &kp F6    &kp F7    &kp F8    &kp F9    &kp F10   &kp F11   &kp F12   &kp PSCRN &kp SLCK  &kp PAUSE_BREAK
                &kp GRAVE &kp N1    &kp N2    &kp N3    &kp N4    &kp N5    &kp N6    &kp N7    &kp N8    &kp N9    &kp N0    &kp MINUS &kp EQUAL &kp BKSP            &kp INS
                &kp TAB   &kp Q     &kp W     &kp E     &kp R     &kp T     &kp Y     &kp U     &kp I     &kp O     &kp P     &kp LBKT  &kp RBKT  &kp BSLH            &kp PG_UP
                &kp CLCK  &kp A     &kp S     &kp D     &kp F     &kp G     &kp H     &kp J     &kp K     &kp L     &kp SEMI  &kp SQT   &kp RET                       &kp PG_DN
                &kp LSHFT &kp Z     &kp X     &kp C     &kp V     &kp B     &kp N     &kp M     &kp COMMA &kp DOT   &kp FSLH  &kp RSHFT                     &kp RSHFT &kp UP
                &kp LCTRL &kp LGUI  &kp LALT                      &lt 1 SPACE                                       &kp RALT  &kp RGUI  &kp K_APP &kp RCTRL &kp LEFT  &kp DOWN
            >;
            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };
        raise {
            bindings = <
                &sys_reset &bootloader &kp C_PREV &kp C_NEXT &kp C_MUTE &kp C_VOL_DN &kp C_VOL_UP &bt BT_CLR &bt BT_PRV &bt BT_NXT &bl BL_TOG &bl BL_INC &bl BL_DEC &rgb_ug RGB_TOG &rgb_ug RGB_HUI &rgb_ug RGB_HUD
                &trans    &key_repeat &key_r2 &key_r3   &key_r4   &key_r5   &key_r6   &key_r7   &key_r8   &key_r9   &key_r0   &trans    &trans    &trans              &trans
                &trans    &trans    &trans    &kp END   &trans    &trans    &trans    &trans    &trans    &trans    &kp UP    &trans    &trans    &trans              &trans
                &trans    &kp HOME  &trans    &kp DEL   &kp RIGHT &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans                        &trans
                &trans    &trans    &trans    &trans    &trans    &kp LEFT  &kp DOWN  &trans    &trans    &trans    &trans    &trans                        &trans    &trans
                &trans    &trans    &trans                        &trans                                            &trans    &trans    &trans    &trans    &trans    &trans
            >;
            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };
    };
};
